<h1><%= title%></h1>

<ul>
  <li>Year: <%=year%></li>
  <li>Synopsis: <%=synopsis%></li>
  <li>Rating: <%=rating%></li>
  <li>Genre: <%=genre%></li>
  <li>Studio: <%=studio%></li>
</ul>

<a href="/">Back!</a>
